<%- include('partials/header') %>


<div class="wrapper shadow p-5 text-center bg-secondary-subtle border rounded-3">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3 text-body-emphasis">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <div class="d-inline-flex gap-3 justify-content-center">
        <a class="btn btn-light btn-lg shadow-sm" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg shadow-sm" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>
