<%- include('partials/header') %>


<div class="wrapper shadow p-5 text-center bg-secondary-subtle border rounded-3">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-5">You've Discovered The Secrets!</h1>
    <% usersWithSecrets.forEach((user) => { %>
      <p class="secret-text"><%= user.secret %></p>
    <% }) %>
    <hr>
    
    <div class="d-inline-flex gap-3">
      <a class="btn btn-light btn-lg shadow-sm" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg shadow-sm" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
  
</div>

<%- include('partials/footer') %>
